env:
  global:
    # directory containing the project source
    - REPO_DIR=.
    # pip dependencies to _build_ project
    - BUILD_DEPENDS=
    # pip dependencies to _test_ project
    - TEST_DEPENDS=
    - PLAT=x86_64
    - UNICODE_WIDTH=32

language: python
# The travis Python version is unrelated to the version we build and test
# with.  This is set with the MB_PYTHON_VERSION variable.
python: 3.5
sudo: required
dist: trusty
services: docker

matrix:
  exclude:
    # Exclude the default Python 3.5 build
    - python: 3.5
  include:
    - os: linux
      env: MB_PYTHON_VERSION=2.7
    - os: linux
      env:
        - MB_PYTHON_VERSION=2.7
        - UNICODE_WIDTH=16
    - os: linux
      env:
        - MB_PYTHON_VERSION=2.7
        - PLAT=i686
    - os: linux
      env:
        - MB_PYTHON_VERSION=2.7
        - PLAT=i686
        - UNICODE_WIDTH=16
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.3
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.3
        - PLAT=i686
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.4
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.4
        - PLAT=i686
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.5
        - BUILD_SDIST=true
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.5
        - PLAT=i686
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.6
        - PLAT=i686
    - os: osx
      language: generic
      env:
        - MB_PYTHON_VERSION=2.7
    - os: osx
      language: generic
      env:
        - MB_PYTHON_VERSION=3.4
    - os: osx
      language: generic
      env:
        - MB_PYTHON_VERSION=3.5

before_install:
  - source multibuild/common_utils.sh
  - source multibuild/travis_steps.sh
  - before_install

install:
  - build_wheel $REPO_DIR $PLAT

script:
  - install_run $PLAT

after_success:
  # if tagged, create the source distribution for the deploy stage
  - if [ -n "$TRAVIS_TAG" ] && [ "$BUILD_SDIST" == true ]; then pip install -U setuptools; python setup.py sdist -d ${TRAVIS_BUILD_DIR}/wheelhouse; fi

####  The following section enables automatic deployment on tags to GitHub Releases.
####  You must replace the secure api_key with yours, as created by `travis setup releases`.
####  See https://docs.travis-ci.com/user/deployment/releases
deploy:
  provider: releases
  api_key:
    secure: TjjGgsA4BIb1A92WSgKWrLR4+mQNEezNpW5n4GM3qoU4DSE2LEaYkkpYV/a75WXaQXHyx77M5SZotjw0f09D200ku3ZyjLZpa7hv2tY4He/tNuD8Lyz0dbjDrWX3qksL0iv+m8nWBI37ElQEwXdULMoa6B9dQ0e1zot0bpfIxM0=
  file_glob: true
  file: "${TRAVIS_BUILD_DIR}/wheelhouse/*"
  skip_cleanup: true
  on:
    repo: mikekap/unicodedata2
    tags: true
